
.card.border-purple.text-center.mb-2
  .card-header.bg-purple.white
    %h1.h2 Community Advisory Board Members
  .card-body
    %p
      %strong The Honorable Carmen Rodriguez,
      Camden County Board of Chosen Freeholders
    %p
      %strong The Honorable Gabriella Moquera,
      New Jersey General Assembly
    %p
      %strong Pat McKernan,
      Chief Operating Officer, Volunteers of America/Delaware Valley
    %p
      %strong Mary Anne Giello,
      LCSW/Rutgers School of Social Work
    %p
      %strong Professor Victoria Chase, Esq.
      Rutgers Law School
    %p
      %strong Professor Courtenay Cavanaugh,
      Director of Risk and Resilience Lab, Rutgers University
    %br
    %em Our Community Advisory Board (CAB) formally convened in January, 2012, and meets quarterly.
    %br
    %em If you are interested in serving on CAB, please email the Program Coordinator at cbutrica@njaconline.org
