%h1.mb-4.text-center Contact Us

.row
  .col-12.col-md-4.col-lg-6
    .text-center
      %p.h5 Call our 24/7 Hotline for immediate support or shelter at 856-227-1234
      %p Call 856-963-5668 to schedule a counseling appointment, to learn about volunteering, or any of our programs including PALS, legal advocacy and much more!
      %p Email ccwcinfo@njaconline.org for more information.

  .col-12.col-md-8.col-lg-6
    %iframe{ src: 'https://docs.google.com/forms/viewform?authuser=0&bc=transparent&embedded=true&f=%2527Raleway%2527%252Csans-serif&hl=en&htc=%2523999999&id=1IsEhEfhs9tuiHDOWxj709M27x11J4-ItxlIkywDUXto&lc=%25238a8c50&pli=1&tc=%2523666666&ttl=0',
             height: '700px',
             width: '100%',
             style: 'border:0;' }