.container-fluid
  .row.mb-4
    .col-12.col-md-6.text-center
      .h4
        If you or someone you know is in need of
        %strong{style: 'color:red;'} immediate assistance
        call CCWC's 24/7 Hotline:
      .h2 856-227-1234
    .col-12.col-md-6.text-center
      .h5
        For a counseling appointment or legal advocacy call:
      .h3
        856-963-5668
      .h5
        (All services are free and confidential)
  -#.row
  -#  .col-10.offset-1.mb-2
  -#    =image_tag 'leafy_page_break.png', class: 'card-img-top text-right'
  .flex.flex-row.justify-content-around.flex-wrap
    .col-12.col-md-10.col-xl-6
      =image_tag 'holiday_toys_2018.jpg',
                 class: 'card-img-top text-right img-thumbnail',
                 alt: 'CCWC 5th Annual Holiday Toy Drive. Now through December 19th. For more information, call Mindy at 856-963-5668.'