#ccwc-header {
  background-color: lightgrey;
  color: purple;
}

#ccwc-title{
  font-size: 3.5rem;
}

#ccwc-subtitles {
  font-weight: 200;
}

#main-nav-list {
  flex-wrap: wrap;

  & > li {
    display: inline;
    padding: .5rem 1rem .5rem 1rem;
    margin: .5rem;
    border-radius: 5px 5px 0 0;
  }

  & > li:last-of-type {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  a {
    text-decoration: none;
  }
}

.nav-category-title {
  color: purple;
  font-size: 1.25em;
  font-weight: bold;
}

.submenu-dropdown {
  display: none;
  margin-left: -1em;
  margin-top: .5em;
  border-radius: 0 5px 5px 5px;
}

.submenu {
  list-style-type: none;
  padding-left: 0;

  li {
    padding: 1em 1em 1em 1.5em;
  }
}

.nav-item-with-dropdown:hover,
.nav-item-with-dropdown:focus-within {
  background-color: darken(dimgrey, 20%);
  color: white;

  .nav-category-title {
    color: white;
  }

  .nav-category-title:hover,
  .nav-category-title:focus-within {
    color: gold;
  }

  & > .submenu-dropdown {
    display: block;
    position: absolute;
    list-style-type: none;

    background-color: dimgrey;
    color: white !important;

    a {
      color: white;
    }

    li:hover,
    a:focus-within li {
      background-color: darken(dimgrey, 20%);
      //border-radius: 0 5px 0 0;
      color: gold;
    }

    a:first-of-type li:hover,
    a:first-of-type:focus-within li {
      border-radius: 0 5px 0 0;
    }

    a:last-of-type li:hover,
    a:last-of-type:focus-within li {
      border-radius: 0 0 5px 5px;
    }
  }
}

#get-help-btn {
  border-radius: .25em !important;
}