#main-nav-list > li {
  display: inline;
  padding: 1rem;
}

#main-nav-list > li:last-of-type {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.submenu-dropdown {
  display: none;
  margin-left: -1em;
}

.submenu {
  list-style-type: none;
  padding-left: 0;

  li {
    padding: 1.5em;
  }
}

.nav-item-with-dropdown:hover {
  background-color: dimgrey;
  color: white;

  & > .submenu-dropdown {
    display: block;
    position: absolute;
    list-style-type: none;

    background-color: dimgrey;
    color: white;

    li:hover {
      background-color: darken(dimgrey, 20%);
    }
  }
}

