<div id="exit-top"
     class="emergency-exit flex flex-row justify-content-around align-items-center p-2"
     data-exit-url="<%= exit_url %>">
<!--  The empty spans help us with flex positioning on the icons  -->
  <span></span>
  <span></span>
  <i class="fa fa-sign-out fa-2x"></i>
  <div class="h5 mb-0">
    Emergency Exit (click to close page)
  </div>
  <i class="fa fa-sign-out fa-2x"></i>
  <span></span>
  <span></span>
</div>