<footer id="ccwc-footer">
  <div class="flex flex-row flex-wrap text-center align-items-center p-2">
    <div class="d-block col-12 col-md-4">
      <strong>Domestic Violence Outreach & Support Center</strong>
      <br>311 Market Street
      <br>Camden, NJ 08102
    </div>
    <div class="d-block col-12 col-md-4">
      <hr>
      <strong class="h3">Camden County Women's Center</strong>
      <br>ccwcinfo@njaconline.org
      <hr>
    </div>
    <div class="d-block col-12 col-md-4">
      <strong>24/7 Hotline: 856-227-1234</strong>
      <br>Phone: 856-963-5668
      <br>Fax: 856-964-4998
    </div>
  </div>
</footer>