<header id="ccwc-header"
        class="flex flex-row flex-wrap justify-content-between align-items-center p-2">
  <div id="ccwc-title">
    <div class="text-center h1 mb-0 pl-2">
      CCWC
    </div>
  </div>

  <%= render 'layouts/main_nav' %>
</header>
