<header id="ccwc-header"
        class="flex flex-row flex-wrap justify-content-around align-items-center p-2">
  <a href=<%= root_path %>>
    <div id="ccwc-title">
      <div class="text-center m-0 pl-2 ultra">
        <%= image_tag('ccwc_logo.png', style: 'max-width:2em;') %>
        <div class="logo-c inline-block">CC</div>
        <div class="logo-w inline-block">W</div>
        <div class="logo-c inline-block">C</div>
      </div>
    </div>
  </a>

  <div id="ccwc-subtitles" class="p-2">
    <div class="text-center mb-0 ultra">
      Camden County Women's Center
    </div>
    <div class="text-center mb-0 ultra">
      Domestic Violence Safe House & Support
    </div>
  </div>

  <%= render 'layouts/main_nav' %>
</header>
