<nav id="main-navigation"
     class="inline-block">
  <ul id="main-nav-list"
      class="flex flex-row align-items-center mb-0 mr-2">
    <li class="nav-item-with-dropdown">
      <a href="#" class="nav-category-title">About Us</a>
      <%= render 'layouts/submenu_dropdown', locals: {
          subcategories: [
            {title: 'Basic Info', anchor: about_us_path },
            {title: 'The CCWC Story', anchor: ccwc_story_path },
            {title: 'Advisory Board', anchor: advisory_board_path },
            {title: 'Contact Us', anchor: contact_us_path }
          # {title: 'NJAC', anchor: '#'},
          ]
      }%>
    </li>
    <li class="nav-item-with-dropdown">
      <a href="#" class="nav-category-title">Get Informed.</a>
      <%= render 'layouts/submenu_dropdown', locals: {subcategories: [
          {title: 'Client Rights', anchor: '#'},
          {title: 'Our Publications', anchor: '#'}
      ] }%>
    </li>
    <li class="nav-item-with-dropdown">
      <a href="#" class="nav-category-title">Get Involved.</a>
      <%= render 'layouts/submenu_dropdown', locals: {subcategories: [
          {title: 'Dessert Night', anchor: '#'},
          {title: 'Employment', anchor: '#'},
          {title: 'Student Internships', anchor: '#'},
          {title: 'DVRT Volunteers', anchor: '#'},
          {title: 'Wall of Pledges', anchor: '#'},
          {title: 'Training Program on Domestic Violence', anchor: '#'}
      ] }%>
    </li>
    <li class="nav-item-with-dropdown">
      <a href="#" class="nav-category-title">Get Help.</a>
      <%= render 'layouts/submenu_dropdown', locals: {subcategories: [
          {title: '24/7 Hotline', anchor: '#'},
          {title: 'Emergency Safe House', anchor: '#'},
          {title: "Children's Programs (PALS)", anchor: '#'},
          {title: 'Other Resources', anchor: '#'}
      ] }%>
    </li>
<!--    <li id="get-help-btn" class="btn btn-warning"></li>-->
  </ul>
</nav>