<nav id="main-navigation"
     class="inline-block">
  <ul id="main-nav-list"
      class="flex flex-row align-items-center mb-0 mr-2">
    <li class="nav-item-with-dropdown">
      About Us
      <%= render 'layouts/submenu_dropdown', locals: {subcategories: [
          {title: 'Basic Info', anchor: '#'},
          {title: 'Contact Us', anchor: '#'},
          {title: 'The CCWC Story', anchor: '#'}
      ] }%>
    </li>
    <li>Get Informed</li>
    <li>Get Involved</li>
    <li class="btn btn-warning">Get Help</li>
  </ul>
</nav>