<body class="flex flex-col">
  <a href="#content"
     id="skip-nav"
     class="sr-only sr-only-focusable text-center chrome">
    Skip to main content
  </a>

  <%= render 'layouts/header' %>
  <%= render 'layouts/emergency_exit' %>

  <main>
    <article id="content"
             class="p-4"
             tabindex="-1">
      <%= yield %>
    </article>

  </main>
  <%= render 'layouts/footer' %>
</body>
