<div class="submenu-dropdown">
  <ul class="submenu">
    <% locals[:subcategories].each do |item| %>
      <a href="<%= item[:anchor] %>">
        <li class="submenu-title">
          <%= item[:title] %>
        </li>
      </a>
    <% end %>
  </ul>
</div>